footer {
  background-color: gray;
  padding: 20px;
}

.gallery {
  list-style: none;
  background-color: AliceBlue;
  margin: 20px;
}
.gallery li {list-style: none; display: inline;}
.gallery img { vertical-align: middle}

.nav-pills {
  padding-left: 20px;
}

.card-display {
  width: 200px;
  height: 300px;
}

.card-viewer {
  margin: 50px;
  padding: 50px;
  background-color: AliceBlue;
}

.class-selector {
  margin: 50px;
  padding: 50px;
  background-color: AliceBlue;
}

.hero {
  width :220px;
  height: 300px;
}