<h1>New deck creation</h1>
<h2><%= @class %></h2>

<img src="/images/heroes-header/<%= @class %>.jpg" class="img-responsive" alt="header image">

<div class="card-display">
  <h2>Select which cards to display</h2>
  <ul>
    <li><a href="#">Class Cards</a></li>
    <li><a href="#">Neutral Cards</a></li>
  </ul>
</div>

<div class="deck-display">
  <h2>Current Decklist</h2>
</div>
