<h1>Deck Builder</h1>
<div class="class-selector">
  <h2>Choose a class</h2>
    <a href="#"><img class="hero" src="/images/heroes/druid.png"></a>
    <a href="#"><img class="hero" src="/images/heroes/hunter.png"></a>
    <a href="#"><img class="hero" src="/images/heroes/mage.png"></a>
    <a href="#"><img class="hero" src="/images/heroes/paladin.png"></a>
    <a href="#"><img class="hero" src="/images/heroes/priest.png"></a>
    <a href="#"><img class="hero" src="/images/heroes/rogue.png"></a>
    <a href="#"><img class="hero" src="/images/heroes/shaman.png"></a>
    <a href="#"><img class="hero" src="/images/heroes/warlock.png"></a>
    <a href="#"><img class="hero" src="/images/heroes/warrior.png"></a>
</div>

<div class="card-display">
  <h2>Select which cards to display</h2>
  <ul>
    <li><a href="#">Class Cards</a></li>
    <li><a href="#">Neutral Cards</a></li>
  </ul>
</div>

<div class="deck-display">
  <h2>Current Decklist</h2>
</div>
