<h1>Deck Builder</h1>
<div class="class-selector">
  <h2>Choose a class</h2>
  <ul>
    <li><a href="#">Druid</a></li>
    <li><a href="#">Hunter</a></li>
    <li><a href="#">Mage</a></li>
    <li><a href="#">Paladin</a></li>
    <li><a href="#">Priest</a></li>
    <li><a href="#">Rogue</a></li>
    <li><a href="#">Shaman</a></li>
    <li><a href="#">Warlock</a></li>
    <li><a href="#">Warrior</a></li>
  </ul>
</div>

<div class="card-display">
  <h2>Select which cards to display</h2>
  <ul>
    <li><a href="#">Class Cards</a></li>
    <li><a href="#">Neutral Cards</a></li>
  </ul>
</div>

<div class="deck-display">
  <h2>Current Decklist</h2>
</div>
