<h1>Deck Builder</h1>
<div class="class-selector">
  <h2>Choose a class</h2>
    <a href="/decks/new/class/druid"><img class="hero" src="/images/heroes/druid.png"></a>
    <a href="/decks/new/class/hunter"><img class="hero" src="/images/heroes/hunter.png"></a>
    <a href="/decks/new/class/mage"><img class="hero" src="/images/heroes/mage.png"></a>
    <a href="/decks/new/class/paladin"><img class="hero" src="/images/heroes/paladin.png"></a>
    <a href="/decks/new/class/priest"><img class="hero" src="/images/heroes/priest.png"></a>
    <a href="/decks/new/class/rogue"><img class="hero" src="/images/heroes/rogue.png"></a>
    <a href="/decks/new/class/shaman"><img class="hero" src="/images/heroes/shaman.png"></a>
    <a href="/decks/new/class/warlock"><img class="hero" src="/images/heroes/warlock.png"></a>
    <a href="/decks/new/class/warrior"><img class="hero" src="/images/heroes/warrior.png"></a>
</div>
