<img src="/images/header.jpg" class="img-responsive" alt="header image">
<div class="description">
  <h1>Hearthstone Deck Tracker</h1>
  <p>This site is based on the game Hearthstone. It allows you to browse the most popular decks currently being played. You will be able to type in a couple of cards that you see an opponent play. You will then be presented with possible decks that you may be facing and will be able to narrow them down further as more cards are played. You can also browse through all the current cards and build new decks to add to your collection.</p>
</div>
